@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-sm: 475px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --color-primary: #0049ff;
  --color-secondary: #c4c4c4;
  --color-blue: #0049ff;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    background-color: #fafafa;
    font-size: 22px;
    overflow-x: hidden;
  }
}
